<nav id="box" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-2">
      <div class="btn-group">
        <button type="button" class="btn btn-default navbar-btn">
          Ansichten
        </button>
        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">dropdown-menu</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="showListView()"><a>Listenansicht</a></li>
          <li ng-click="showSingleView(boxName)"><a>Einzelansicht</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default navbar-btn" ng-click="moveFiles(boxName, 'archiv')">
        <span class="glyphicon glyphicon-briefcase"></span>
      </button>
      <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#selectbox">
        <span class="glyphicon glyphicon-transfer"></span>
      </button>
      <button class="btn btn-default navbar-btn" ng-click="selectAllFiles()">
        <span class="glyphicon glyphicon-ok-sign"></span>
      </button>
      <button class="btn btn-default navbar-btn" ng-click="unselectAllFiles()">
        <span class="glyphicon glyphicon-unchecked"></span>
      </button>
      
    </div>
  </div>
</nav>
<div class="container-fluid">

  <div id="boxes" class="col-md-2">
    <div id="boxes">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="name in boxNames" ng-click="loadBox(name)" ng-class="{active: boxName===name}">
          <a>{{name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="files" class="col-md-10">
    <div class="alert alert-danger" role="alert" ng-show="errorMsg">
      {{err}} <button ng-click="errorMsg=false">close</button>
    </div>
    <div class="alert alert-success" role="alert" ng-show="successMsg">
      {{err}} <button ng-click="successMsg=false">close</button>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr ng-repeat="file in box">
          <td><input type="checkbox" ng-model="selectedFiles[file.Filename]" ng-init="selectedFiles[file.Filename]=false"></td>
          <td>{{file.Filename}}</td>
          <td>
            <input type="text" 
                     placeholder="new tags comma sep" 
                     ng-model="newTags" 
                     ng-keypress="sendTags($event, file.Filename, newTags)" 
                     ng-class="{'alert-warning': tagError}"
                     ng-list>
            <div class="tag-error-msg alert alert-warning" ng-show="tagErrorMsg">{{tagErrorMsg}}</div>   
          </td>
          <td>
            <span class="label label-primary tag" ng-repeat="tag in file.CurrTags"> 
              {{tag}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- Select box -->
<div class="modal fade" id="selectbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Direcotry</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="name in boxNames" ng-click="moveFiles(boxName, name)">
            <a data-dismiss="modal" data-target="#selectbox">{{name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- View file box -->
<div class="modal fade" id="viewfilebox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Direcotry</h4>
      </div>
      <div class="modal-body">
        <div id="pdfctrl" class="btn-group">
          <button class="btn btn-default" ng-click="prevPage()"><span class="glyphicon glyphicon-chevron-left"></span></button>
          <button class="btn btn-default" ng-click="zoomIn()"><span class="glyphicon glyphicon-zoom-in"></span></button>
          <button class="btn btn-default" ng-click="zoomOut()"><span class="glyphicon glyphicon-zoom-out"></span></button>
          <button class="btn btn-default" ng-click="nextPage()"><span class="glyphicon glyphicon-chevron-right"></span></button>
          <p id="pdfpages">{{currentPage}}/{{totalPages}}</p>
        </div>
        <pdf-viewer delegate-handle="pdfFile" url="pdfUrl" scale="1.4"></pdf-viewer> 
      </div>
    </div>
  </div>
</div>
