<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span >&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Umbenennen</h4>
</div>
<div class="modal-body">
  <div class="input-group">
    <input type="text" class="form-control"
           ng-model="newDocName"
           ng-keypress="keyEvents($event)"
           focus-me="{{opened}}">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="save()">OK!</button>
    </span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>

