<!--
<nav id="file-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</nav>
--!>
<div id="workspace" class="container-fluid">
  <shortcuts></shortcuts>
  <div id="doc-data" class="col-md-3"> 
    <h4 id="filename">
      <button class="btn-lastfile" ng-click="prevDoc()"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <span ng-click="modals.changeDocName.open()">{{doc.Name}}</span>
      <button class="btn-nextfile" ng-click="nextDoc()"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </h4>
    <div id="section-labels">
      <header class="section-head"
              ng-click="docDateMenu.labels.toggle()" >
        Labels 
      </header>
      <div class="docdata-section">
        <ul id="labels">
          <li ng-repeat="label in doc.Labels">
            <span class="label label-primary">
              {{label}}
              <span class="glyphicon glyphicon-remove-circle remove-label" ng-click="labels.remove(label)"></span>
            </span>
          </li>
        </ul>
        <div class="docdata-ctrls">
          <input id="labels-input" type="text" ng-model="labels.input" ng-keypress="labels.keyEvent($event)" ng-list>
          <span class="glyphicon glyphicon-plus append-label" ng-click="labels.save()"></span>
        </div>
      </div>
    </div>
    <div id="docInfos">
      <header class="section-head">Allgemein</header>
      <table class="table">
        <tbody>
          <tr>
            <td>Eingangsdatum</td>
            <td>
              <div class="input-group">
                <input class="form-control" id="date-of-receipt-input" 
                       ng-model="doc.Infos.DateOfReceipt"
                       ng-class="{'glow-green': glowGreen.dateOfReceipt}"
                       date-proxy>
                <span class="input-group-btn">
                  <button class="btn btn-default"
                          type="button"
                          ng-click="saveDateOfReceipt()">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Scandatum</td><td>{{doc.Infos.DateOfScan|euroDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="account-data">
      <header class="section-head">Buchhaltung</header>
      <div class="docdata-section">
        <div id="docnumbers">
          <h4 class="subsection">Belegnummern</h4>
          <ul>
            <li ng-repeat="docnumber in doc.AccountData.DocNumbers">
            {{docnumber}}
            <span class="glyphicon glyphicon-remove-circle remove-docnumber" ng-click="docnumbers.remove(docnumber)"></span>
            </li>
          </ul>
          <input type="text" id="docnumbers-input"
                 ng-model="docnumbers.input" ng-keypress="docnumbers.keyEvent($event)" ng-list>
          <span class="glyphicon glyphicon-plus append-docnumbers" ng-click="docnumbers.save()"></span>
        </div>
        <div id="accnumber" class="input-group">
          <label for="accnumber-input">Kontonr.:</label>
          <input type="text" id="accnumber-input" 
                 ng-model="doc.AccountData.AccNumber"
                 ng-class="{'glow-green': glowGreen.accData}">
        </div>
        <div id="docperiod">
          <h4 class="subsection">Belegzeitraum</h4>
          <div class="input-group period-date">
            <label for="from-date">Von:</label>
            <input type="text" id="from-date"
                   ng-model="doc.AccountData.DocPeriod.From"
                   ng-class="{'glow-green': glowGreen.accData}"
                   date-proxy>
          </div>
          <div class="input-group period-date">
            <label for="to-date">Bis:</label>
            <input type="text" id="to-date"
                   ng-model="doc.AccountData.DocPeriod.To"
                   ng-class="{'glow-green': glowGreen.accData}"
                   date-proxy>
          </div>
        </div>
        <div id="accdata-ctrls">
          <span class="glyphicon glyphicon-floppy-disk save-accdata" ng-click="saveAccData()"></span>
        </div>
        <div id="read-accprocess">
          <button type="button" class="btn btn-default" ng-click="modals.accProcess.open()">Buchungsdaten</button>
        </div>
      </div>
    </div>
    <div id="note">
      <header class="section-head">
        Notiz
        <span class="save-note glyphicon glyphicon-floppy-disk" ng-click="saveNote()"></span>
      </header>
      <div class="docdata-section">
        <textarea class="note" cols=10 ng-model="doc.Note" ng-class="{'glow-green': noteGlowGreen}"></textarea>
      </div>
    </div>
  </div>
  <div id="fileviewerspace" class="col-md-9">
  <iframe id="pdfviewer" ng-src="{{ pdf.url }}"></iframe>
  </div>
</div>
