<!--
<nav id="file-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</nav>
--!>
<div id="workspace" class="container-fluid" tabindex="0" ng-keypress="actionKeys($event)">
  <div id="docspace" class="col-md-3"> 
    <h4 id="filename">
      <button class="btn-lastfile" ng-click="prevDoc()"><span class="glyphicon glyphicon-chevron-left"></span></button>
      {{doc.name}}
      <button class="btn-nextfile" ng-click="nextDoc()"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </h4>
    <div id="docInfos">
      <header class="section-head">Allgemein:</header>
      <table class="table">
        <tbody>
          <tr>
            <td>Eingangsdatum</td><td>{{doc.infos.dateofreceipt}}</td>
          </tr>
          <tr>
            <td>Scandatum</td><td>{{doc.infos.dateofscan}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="account-data">
      <header class="section-head">Buchhaltung:</header>
      <ul>
        <li ng-repeat="docnumber in doc.docnumbers">
          {{docnumber}}
        </li>
      </ul>
    </div>
    <div id="labels">
      <header class="section-head">Labels:</header>
      <ul>
        <li ng-repeat="label in doc.labels">
          <span class="label label-primary">
            {{label}}
            <span class="glyphicon glyphicon-remove-circle remove-label" ng-click="removeDocLabel(doc.name, label)"></span>
          </span>
        </li>
      </ul>
    </div>
    <div id="note">
      <header class="section-head">Notiz: <span class="save-note glyphicon glyphicon-floppy-disk" ng-click="saveNote(doc.name, docNote)"></span></header>
      <textarea class="note" cols=10 ng-model="docNote">{{doc.note}}</textarea>
    </div>
  </div>
  <div id="fileviewerspace" class="col-md-9">
    <div id="pdfctrl">
      <div id="pdfctrl-btn-group">
        <button ng-click="prevPage()"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button ng-click="zoomIn()"><span class="glyphicon glyphicon-zoom-in"></span></button>
        <button ng-click="zoomOut()"><span class="glyphicon glyphicon-zoom-out"></span></button>
        <button ng-click="nextPage()"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
      <p id="pdfpages">{{currentPage}}/{{totalPages}}</p>
    </div>
    <pdf-viewer delegate-handle="pdfFile" url="pdfUrl" scale="1.3"></pdf-viewer> 
    <!-- <canvas id="pdf-files"></canvas> -->
  </div>
</div>

<!-- Default Modal to input value ValueTag -->
<div class="modal fade" id="ValueTag-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Wert eingeben</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="ValueTag-start form-control" ng-model="valueTagInput" ng-keypress="modalKeyEvents($event, 'ValueTag')">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="searchStrAppend()">OK!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notiz Modal -->
<div class="modal fade" id="Notiz-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Notiz eingeben</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <textarea type="text" class="Notiz-start form-control" ng-model="NotizInput" ng-keypress="modalKeyEvents($event, 'Notiz')"></textarea>
        </div>
        <button class="btn btn-default" type="button" ng-click="searchStrAppend()">OK!</button>
      </div>
    </div>
  </div>
</div>

<!-- Buchungszeitraum Modal -->
<div class="modal fade" id="Buchungszeitraum-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Buchungszeitraum eingeben</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon" id="von-addon">Von</span>
          <input type="text" class="Buchungszeitraum-start form-control" placeholder="Von" 
                 aria-describedby="von-addon" 
                 ng-model="BuchungszeitraumInputVon" ng-keypress="modalKeyEvents($event, 'Buchungszeitraum')">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="bis-addon">Bis</span>
          <input type="text" class="form-control" placeholder="Bis"
                 aria-describedby="bis-addon" 
                 ng-model="BuchungszeitraumInputBis" ng-keypress="modalKeyEvents($event, 'Buchungszeitraum')">
        </div>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchStrAppend()">OK!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Status Modal -->
<div class="modal fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Status angeben</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="states">Wähle Status</label>
          <select id="states" class="Status-start form-control"
                 ng-model="StatusInput" ng-keypress="modalKeyEvents($event, 'Status')">
            <option>new</option>
            <option>verified</option>
            <option>inbox</option>
            <option>inbox_martin</option>
          </select>
          <button class="btn btn-default" type="button" ng-click="searchStrAppend()">OK!</button>
        </div>
      </div>
    </div>
  </div>
</div>
