<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Buchhaltungsdaten</h4>
</div>
<div class="modal-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Belegd.</th>
        <th>Buchungsd.</th>
        <th>Belegnrkreis</th>
        <th>Belegnr.</th>
        <th>Text</th>
        <th>Betrag €</th>
        <th>Sollk.</th>
        <th>Habenk.</th>
        <th>Steuerschl.</th>
        <th>Kostenst. 1</th>
        <th>Kostenst. 2</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="acp in accountingData">
        <td>{{acp.doc_date|euroDate}}</td>
        <td>{{acp.date_of_entry|euroDate}}</td>
        <td>{{acp.doc_number_range}}</td>
        <td>{{acp.doc_number}}</td>
        <td>{{acp.posting_text}}</td>
        <td>{{acp.amount_posted}}</td>
        <td>{{acp.credit_account}}</td>
        <td>{{acp.debit_account}}</td>
        <td>{{acp.tax_code}}</td>
        <td>{{acp.cost_unit1}}</td>
        <td>{{acp.cost_unit2}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>

