<!--
<nav id="file-navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
  </div>
</nav>
--!>
<div id="workspace" class="container-fluid">
  <shortcuts></shortcuts>
  <div id="doc-data" class="col-md-3"> 
    <h4 id="filename">
      <button class="btn-lastfile" ng-click="docsCtrl.prevDoc()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
      <span ng-click="modals.changeDocName.open()">{{docData.name}}</span>
      <button class="btn-nextfile" ng-click="docsCtrl.nextDoc()">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
    </h4>
    <div id="section-labels">
    <header class="section-head">
        Labels 
      </header>
      <div class="docdata-section">
        <ul id="labels">
          <li ng-repeat="label in docData.labels">
            <span class="label label-primary">
              {{label.name}}
              <span class="glyphicon glyphicon-remove-circle remove-label"
                    ng-click="docsCtrl.removeLabel(label.id)"></span>
            </span>
          </li>
        </ul>
        <div class="doc-labels">

					<div id="label-select">
						<div class="input-group">
							<div class="input-group-btn">
								<input id="label-input" type="text" class="form-control" placeholder="Search for..."
                        ng-model="labelSelect.input"
                        ng-click="labelSelect.open()"
                        ng-keyup="labelSelect.keyctrl($event)"
                        ng-blur="labelSelect.close()">
								<button class="btn btn-default" type="button" ng-click="labelSelect.joinLabel()">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
						<ul id="label-list" ng-hide="labelSelect.isHidden" role="listbox">
							<li role="presenter" 
                  ng-repeat="label in labelSelect.labels"
                  ng-class="{selected: label.selected}"
                  ng-mouseover="label.selected=true"
                  ng-mouseleave="label.selected=false"
                  ng-click="labelSelect.joinLabel()">{{ label.name }}</li>
						</ul>
					</div>

        </div>
      </div>
    </div>
    <div id="doc-infos">
      <header class="section-head">Allgemein</header>
      <table class="table">
        <tbody>
          <tr>
            <td>Eingangsdatum</td>
            <td>
              <div class="input-group">
                <input class="form-control" id="date-of-receipt-input" 
                       ng-model="docData.dateOfReceipt"
                       ng-class="{'glow-green': docsCtrl.glowGreen}"
                       date-proxy>
                <span class="input-group-btn">
                  <button class="btn btn-default"
                          type="button"
                          ng-click="docsCtrl.updateDoc()">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Scandatum</td><td>{{docData.dateOfScan|euroDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="account-data">
      <header class="section-head">Buchhaltung</header>
      <div class="docdata-section">
        <div id="docnumbers">
          <h4 class="subsection">Belegnummern</h4>
          <ul>
            <li ng-repeat="docnumber in docData.docNumbers">
            {{docnumber.number}}
            <span class="glyphicon glyphicon-remove-circle remove-docnumber" 
									ng-click="docNumbersCtrl.remove(docnumber.number)">
						</span>
            </li>
          </ul>
          <input type="text" id="docnumbers-input"
                 ng-model="docNumbersCtrl.input"
								 ng-keypress="docNumbersCtrl.keyctrl($event)"
								 ng-list>
          <span class="glyphicon glyphicon-plus append-docnumbers" 
								ng-click="docNumbersCtrl.append()">
					</span>
        </div>
        <div id="accnumber" class="input-group">
          <label for="accnumber-input">Kontonr.:</label>
          <input type="text" id="accnumber-input" 
                 ng-model="docData.accountData.account_number"
                 ng-class="{'glow-green': accountDataCtrl.glowGreen}">
        </div>
        <div id="docperiod">
          <h4 class="subsection">Belegzeitraum</h4>
          <div class="input-group period-date">
            <label for="from-date">Von:</label>
            <input type="text" id="from-date"
                   ng-model="docData.accountData.period_from"
                   ng-class="{'glow-green': accountDataCtrl.glowGreen}"
                   date-proxy>
          </div>
          <div class="input-group period-date">
            <label for="to-date">Bis:</label>
            <input type="text" id="to-date"
                   ng-model="docData.accountData.period_to"
                   ng-class="{'glow-green': accountDataCtrl.glowGreen}"
                   date-proxy>
          </div>
        </div>
        <div id="accdata-ctrls">
          <span class="glyphicon glyphicon-floppy-disk save-accdata" 
								ng-click="accountDataCtrl.save()">
					</span>
        </div>
        <div id="read-accprocess">
          <button type="button" class="btn btn-default" ng-click="modals.accountingData.open()">
						Buchungsdaten
					</button>
        </div>
      </div>
    </div>
    <div id="note">
      <header class="section-head">
        Notiz
        <span class="save-note glyphicon glyphicon-floppy-disk" ng-click="docsCtrl.updateDoc()"></span>
      </header>
      <div class="docdata-section">
        <textarea class="note" cols=10 ng-model="docData.note" ng-class="{'glow-green': docsCtrl.glowGreen}">
				</textarea>
      </div>
    </div>
  </div>
  <div id="fileviewerspace" class="col-md-9">
  <iframe id="pdfviewer" ng-src="{{ pdf.url }}"></iframe>
  </div>
</div>
